{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="intro box">
    <main class="hero" style="background-image: url(images/i-maginer.svg)">
      <div class="intro-content">
        <h1>Pour que le virtuel devienne réalité.</h1>
        <p>Une Entreprise de Service
          Numérique dédiée à l’innovation, à la formation et au développement de
          la culture numérique.</p>
        <span>La société regroupe 4 marques :</span>
      </div>
    </main>
  </div>

  <main class="main">
    <article>
      <img alt="arinfo" src="images/arinfo.webp">
      <div class="main-content">
        <h2>Arinfo</h2>
        <p> Le pôle formation continue et apprentissage dédié aux métiers
          de l’architecture et du bâtiment, de l’infographie et du design, du
          web et du numérique. Nos formations sont diplômantes (titres
          professionnels RNCP) ou certifiantes (TOSA, PCIE).</p>
        <a href="https://www.arinfo.fr/" target="_blank" rel="noopener">Découvrir →</a>
      </div>
    </article>

    <article>
      <img alt="openspace3D" src="images/openspace3d.webp">
      <div class="main-content">
        <h2>OpenSpace3D</h2>
        <p>Le pôle Recherche et Développement dans les domaines de la
          Réalité virtuelle et de la Réalité Augmentée. Découvrir →</p>
        <a href="http://www.openspace3d.com/" target="_blank" rel="noopener">Découvrir →</a>
      </div>
    </article>

    <article>
      <img alt="formao" src="images/formao.webp">
      <div class="main-content">
        <h2>Formao</h2>
        <p> Notre plateforme de formation à distance tutorée permettant une
          individualisation des parcours, une progression au rythme de chacun,
          un accompagnement individualisé par nos formateurs. Découvrir →</p>
        <a href="https://formao.fr/" target="_blank" rel="noopener">Découvrir →</a>
      </div>
    </article>

    <article>
      <img alt="imaginelab" src="images/imaginelab.webp">
      <div class="main-content">
        <h2>I-magineLab</h2>
        <p>Nouveau lieu dans le 17ème arrondissement de Paris qui
          propose aux jeunes de 6 à 16 ans de se former au numérique de manière
          créative et éclairée. Découvrir →</p>
        <a href="https://i-maginelab.com/" target="_blank" rel="noopener">Découvrir →</a>
      </div>
    </article>
  </main>

  <div class="actu">
            {{ $post_paginator := .Paginate (.Pages) 4 }}
            {{ range $post_paginator.Pages }}
                {{- partial "list-partials/postbox.html" . -}}
            {{end}}
</div>
<!--
 <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>

        <section class="text-center">
            {{ with .Site.Params.index.subtitle }}
            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}
            {{ with .Site.Params.index.mdtext }}
            <h6 class="index-text">{{ . | markdownify }}</h6>
            {{ end }}
        </section>
    </div>
-->
   

{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
